<div class="col s12 m4 l3 blog_post-card">
<article class="">
    <div class="blog_post-title">{{blog_post_title}}</div>
    <div class="">
        Blog Post Topic: {{blog_post_topic}}
        <br>
        Blog Post Date: {{blog_post_date}}
        <br>
        Blog post Text: {{blog_post_blogText}}
        <br>
        There are {{upvote_count}} users who liked this post
        <br>
        <button type="button" class="upvote-btn" onclick="upvoteClickHandler(event)">Upvote Blog_Post <span class="id-span" id="blog_post-id-{{id}}" data-id="{{id}}">{{id}}</span></button>
        {{!-- Post created by {{contributor.username}} on {{format_date created_at}} --}}
        {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
        <script src="/javascripts/upvote.js"></script>
    </div>
</article>
</div>